.arena {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.player_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hand {
    height: 70px;
    margin-left: 50%;
    margin-right: 50%;
}

.bar-container {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
    margin-top: 5px;
}

#health-bar {
    background-color: #660d0d;
}

#hero-energy-bar {
    background-color: #4a0d66;
}

.bar {
    width: 100%;
    height: 100%;
    transition: width 0.3s;
    margin-bottom: 0;
}

.bar p {
    margin: 0px;
}


.gray-foreground {
    color: gray;
    opacity: 0.4;
    cursor: none;

}

.gray-foreground * {
    color: gray !important;
}

.card {
    background-color: #4caf4f9f;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 150px;
    margin: 5px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Optional: Add padding for better spacing */
}


.bar-container {
    margin-top: auto;
    /* Pushes the bars to the bottom */
}


#hero-health {
    margin-top: 0px;
}

#hero-name {
    margin-top: 2px;
    margin-bottom: 2px;
}

.card .hero {
    width: 100%;
    height: 150px;
    margin: 0px;
    padding: 0px;
}

.card p {
    padding-left: 5px;
    padding-top: 2px;
}



.props-bar p {
    margin: 4px;
    margin-left: 0px;
    padding-left: 0px;
}


#player_info_game {
    font-size: 15px;
}

#hero-health,
#hero-energy {
    position: absolute;
    margin: 0px;
    padding: 0px;
}


@media (max-width: 1250px) {


    .card {
        width: 30vw;
        height: 27vw;
        margin: 5px;
        margin-top: 15px;
        font-size: 0.8rem;
    }

}


.props-bar {
    display: flex;
    justify-content: space-between;
}


.lazy-bg {
    position: relative;
    overflow: hidden;
}

/* видео как фон */
.lazy-bg video{
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: 0;
}

/* весь контент поверх видео */
.lazy-bg > * {
    position: relative;
    z-index: 1;
}