body {
    font-family: Arial, sans-serif;
    background-image: url('/static/imgs/bg.webp');
    color: blanchedalmond;
    text-shadow: 2px 2px black;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.hand {
    display: flex;
    width: 70px;
    align-items: center;
    align-items: center;
}

.card {
    border: 1px solid #000;
    padding: 10px;
    cursor: pointer;
}

.arena {
    display: flex;
    z-index: 1;

}

#log {
    max-height: 300px;
    width: 60%;
    overflow-y: scroll;
}

.hero {
    width: 250px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: bisque;
    background-color: #00000000;
    margin: 20px;
    padding: 5px;
    text-shadow: 2px 2px black;

}

#opponent-hero {
    cursor: pointer;
}

.fight {
    background-image: url('/static/imgs/logo.png');
    width: 50px;
    height: 50px;
    padding: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(255, 255, 255);
    font-size: large;
    z-index: 3;
    text-transform: uppercase;
    cursor: pointer;

}

.fog {
    background-color: rgba(72, 255, 0, 0.226);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(128, 128, 128, 0.5); Серый прозрачный цвет */
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


.game_link {
    background-color: rgb(2, 53, 29);
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(255, 196, 0, 0.829);
    height: max-content;
    padding: 30px;
    margin: 30px;
    text-decoration: none;
    text-shadow: #000;
    font-size: 27px;
    color: rgba(255, 196, 0, 0.829);
    text-decoration: none;
    font-family: fantasy;
    font-weight: bold;
}