{% block body %}
  <div class="card user_card" id="card_{{ card_id }}">
    <div>
      <h2 id="hero-name">Ваш герой:</h2>

      <div class="props-bar">
        <p id="hero-attack">🗡️:</p>
        <p id="hero-defense">🛡️:</p>
      </div>
    </div>
    <div>
      <div class="bar-container" id="health-bar-container">
        <p id="hero-health">❤️:</p>
        <div class="bar" id="health-bar"></div>
      </div>
      <div class="bar-container" id="energy-bar-container">
        <p id="hero-energy">"⚡":</p>
        <div class="bar" id="hero-energy-bar"></div>
      </div>
    </div>
  </div>
{% endblock %}
