{% extends 'index.html' %}

{% block body %}
  
    <div class="fog" id="fog" style="display: none;">
      <div class="fight" id="fight">Fight!</div>
      <br />
      <br />
      <div>
        <p>Press Fight to start</p>
      </div>
    </div>
    <div class="arena" id="arena">
        {% for card_id in card_ids %}
        {% include 'card.html' with context %}
    {% endfor %}

      <div class="hand" id="hand"></div>
      
    </div>

    <div id="log"></div>


  <script src="{{ url_for('static', filename='strategy.js') }}"></script>
{% endblock %}
