<!DOCTYPE html>
<html>
  <head>
    <title>Легенды Вечности</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='/imgs/logo.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
  </head>
  <body>
    <div class="game-container">
      <h1>Легенды Вечности</h1>
      {% block body %}
          <a class="game_link" href="/clicker">Clicker</a>
          <a class="game_link" href="/strategy">Strategy</a>
      {% endblock %}
    </div>
  </body>
</html>
